.wrapper_training_time{
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}
.controlls {
  position: relative;
  width: 350px;
  padding: 5px 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(255, 255, 255);
  color: rgb(119, 123, 123);
  -webkit-box-shadow: 0px 0px 40px -11px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 40px -11px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 40px -11px rgba(0, 0, 0, 0.75);
}

.display-remain-time {
  margin: 20px 0 10px;
  font-weight: 100;
  font-size: 46px;
  align-items: center;
  display: flex;
  width: 320px;
  justify-content: space-around;
}

.display-remain-time div {
  min-width: 78px;
  padding: 10px 15px;
  color: #ffffff;
  background-color: #000000;
  -webkit-box-shadow: 0px 12px 40px -9px rgb(0, 0, 0);
  -moz-box-shadow: 0px 12px 40px -9px rgb(2, 2, 2);
  box-shadow: 0px 12px 40px -9px rgb(0, 0, 0);
}

.display-remain-time-btn {
  margin: 0 0 30px;
  font-family: 'Roboto';
  font-weight: 100;
  width: 320px;
  font-size: 16px;
  color: #929292;
  display: flex;
  justify-content: space-around;
}

.display-remain-time-btn div {
  min-width: 115px;
  display: flex;
  justify-content: center;
}

.display-time-button {
  position: relative;
  top: -20px;
  width: 160px;
  height: 50px;
  border-radius: 12px;
  background-color: black;
  color: whitesmoke;
  font-size: 24px;
  cursor: pointer;
  font-family: 'PT Sans';
} 
.display-time-button-skip-next{
  position: relative;
  top: -20px;
  width: 160px;
  height: 50px;
  border-radius: 12px;
  background-color: black;
  color: whitesmoke;
  font-size: 24px;
  cursor: pointer;
  font-family: 'PT Sans';
} 
.set_for_timer{
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 340px;
}
.type-movements{
  padding: 10px;
  width: 150px;
  text-align: center;
  color: white;
  font-size: 30px;
  border-radius: 12px;
  border: none;
}