@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&family=PT+Sans:ital,wght@1,700&display=swap');
body {
  margin: 0;
  font-family: 'PT Sans', sans-serif;
  font-family: 'Lora', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Lora', serif;
  font-family: 'PT Sans', sans-serif;
}
